In [ ]:
#Take values of the length & breadth of a rectangle from user input and check if it is square or not
length=int(input("Enter Length:"))
breadth=int(input("Enter breadth:"))
if length==breadth:
  print("It's Square")
else:
  print("It's not Square")

Enter Length:10
Enter breadth:10
It's Square

In [ ]:
#Take three integer values from the user and print the greatest among them.
a=int(input("a: "))
b=int(input("b: "))
c=int(input("c: "))
if b<a>c:
  print('a is the greatest')
elif a<b>c:
  print('b is the greatest')
else:
  print('c is the greatest')

a20
b15
c12
a is the greatest

In [ ]:
#A student will not be allowed to sit in an exam if his/her attendance is less than 75%
total_class=int(input('Total Class Count: '))
attendance=int(input('Total attendance: '))
if attendance<total_class:
  if (attendance/total_class)*100 == 75:
    print("allowed")
  else:
    print('not allow')
else:
  print('total class must be bigger')

In [ ]:
#A school has the following rules for the grading system: 
#Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
#Now, Ask the user to enter marks and print the corresponding grade.


marks=int(input('Enter Marks: '))

if marks>=90:
  print('A+')
elif marks>=80 and marks<=89:
  print('A')
elif marks>=60 and marks<=79:
  print('B')
elif marks>=50 and marks<=59:
  print('C')
elif marks>=45 and marks<=49:
  print('D')
elif marks>=25 and marks<=44:
  print('E')
else:
  print('F')

Enter Marks: -25
F

In [ ]:
#Print the following pattern using for and while loop.
#1 2 3 4 5 6 7
#1 2 3 4 5 6
#1 2 3 4 5
#1 2 3 4

number=int(input('Enter a number: '))
#for loop
for i in range(4):
  for j in range(1,number+1):
    print(j,end=' ')
  number-=1  
  print()

Enter a number: 8
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5

In [ ]:
#while loop
number=int(input('Enter a number: '))
range=0
while range<4:
  i=1
  while i<=number:
    print(i,end=' ')
    i+=1
  number-=1
  print()
  range+=1

Enter a number: 7
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [ ]:
# Display numbers from -100 to -10 using for loop.
for i in range(-100,-9):
  print(i,end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [ ]:
# Write a program to sum all prime numbers within a range of 10 to 1000
import math
sum=0 
def prime(n):
  if n<2:
    return False
  if n==2 or n==3:
    return True
  if n%2 ==0 or n%3==0:
    return False
  for i in range(5,int(math.sqrt(n))+1,2):
    if n%i ==0:
      return False
  return True

for i in range(10,1001):
  if prime(i):
    sum+=i
print(sum)

76110

In [ ]:
#Find the factorial of an n!

def factorial(n):
  if n<0:
    return 'please use positive number'
  elif n==0 or n==1:
    return 1
  else:
    fact=1
    for i in range(1,n+1):
      fact*=i
    return fact

number=int(input('Enter value: '))
print(factorial(number))

Enter value: 5
120

In [ ]:
#Print the following pattern using for and while loop.
# # #
# # # #
# # # 
# # for loop

num=int(input("Enter a Number: "))
i=0
if i==0:
  for i in range(num):
    print('#',end=' ')
  print()
for j in range(num+1,1,-1):
  for k in range(j):
    print('#',end=' ')
  print()

Enter a Number: 3
# # #
# # # #
# # #
# #

In [ ]:
#while loop
num=int(input("Enter a Number: "))
i=0
if i==0:
  while i<num:
    print('#',end=' ')
    i+=1
  print()
j=num+1
while j>1:
  k=0
  while k<j:
    print('#',end=' ')
    k+=1
  j-=1
  print()

Enter a Number: 3
# # #
# # # #
# # #
# #

In [12]:
#. Display the Fibonacci series of 15 elements using the for and while loop
#for Loop
n1=0
n2=1
for i in range(16):
  print(n1,end=' ')
  n1,n2=n2,n1+n2

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [13]:
#while Loop
n1=0
n2=1
i=0
while i<16:
  print(n1,end=' ')
  n1,n2=n2,n1+n2
  i+=1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [14]:
#Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Li[3][0]=3
Li[-1]=False
print(Li)

[1, 3, 5, [3, 3], False]

In [17]:
#Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
#print(S1.intersection(S2))

print(S1 & S2)

{True}
{True}

In [22]:
#Input a list from the user then Remove duplicates from a list and create a set and find the max number. 
User_input = [1,4,5,5,9,9,3,4,5,200,54]
list1=[]
for i in User_input:
  if i not in list1:
    list1.append(i)
print(list1)
set1=set(User_input) #also remove duplicate by default
print(set1)
print(max(set1))

[1, 4, 5, 9, 3, 200, 54]
{1, 3, 4, 5, 200, 9, 54}
200

In [9]:
#Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
#Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary
for i in Dict.keys():
    if i == 'country':
        Dict['region'] = Dict.pop(i)
        break
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [ ]:
#Creating a data frame using the list.
#num = [10,100,300] (column name is number)
#I don't get this one

In [11]:
#Change the value of a key in a given dictionary.
#Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
for key in Dict.keys():
  if key=='age':
    Dict[key]=28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}